@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@import url(//fonts.googleapis.com/css?family=Kaushan+Script);
/*! 
 *   AdminLTE v1.2
 *   Author: AlmsaeedStudio.com
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
!*/
/*
    Core: General style
----------------------------
*/
html,
body {
  overflow-x: hidden!important;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background: #f9f9f9;
}
a {
  color: #fff;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #fff;
}
label {    display: inline-block;    font-weight: normal; color:#555555;   margin-bottom: 5px;}
.form-control{ font-size:14px; font-weight:300; border:1px solid #d9d9d9; border-top:1px solid #c0c0c0; border-radius:0px;}
/* Layouts */

.navbar {
	min-height: 90px;
	padding:5px 10px 5px;
	margin-bottom: 0px;
}

.navbar-brand {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	font-size:50px;
}

.navbar-header .navbar-brand {	color: white;}
.navbar-header span {	color: white; top:25px; position:relative;}
.navbar-default .navbar-nav > li > a {
	color: white;
	font-weight: 500;
	font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: transparent;
}

.navbar-default {
	background-color: #ff4b37;
	border:none !important;
}

.form_h{ background:#fff; margin:12% 0; padding: 0 2% 0 0; border:1px solid #ececec;  -webkit-box-shadow: -1px 0px 17px 0px rgba(184,184,184,1);
-moz-box-shadow: -1px 0px 17px 0px rgba(184,184,184,1);
box-shadow: -1px 0px 17px 0px rgba(184,184,184,1);}
.form_h h1{ color:#fff; font-size:35px; color:#555555; font-weight:400; border-bottom:1px solid #d1d1d1; padding:15px 0;}
img {          display: block;          height: auto;      max-width: 100%;   }
.hig10{ height:10px;}

.bg-olive{ background:#0073c6; color:#fff !important; font-weight:300; font-size:18px; border-radius:0px;}
.form-group{ margin:0 0 25px 0;}

.orange_txt:link{font-family: 'Source Sans Pro', sans-serif; font-size:15px; font-weight:300; color:#ca3b36; text-decoration:none;}
.orange_txt:visited {font-family: 'Source Sans Pro', sans-serif; font-size:15px; font-weight:300; color:#ca3b36; text-decoration:none;}
.orange_txt:hover {font-family: 'Source Sans Pro', sans-serif; font-size:15px; font-weight:300; color:#b22c28; text-decoration:none;}

.error input  { border: 1px solid #ff4b37; color: #ff4b37; }
label.error { color: #ff4b37; }
.error:focus {border-color:#ff4b37;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)};

